<div>
	<nav>
		<div class="nav-wrapper">
			<span class="navName">Hi, {{ databaseService.showUsername }}!</span>
			<ul id="nav-mobile" class="right hide-on-med-and-down">    
				<li><a [routerLink]="['/cookbook']">Cookbook</a></li>
				<li><a [routerLink]="['/dashboard']">Dashboard</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
</div>
<br>
<!-- LIST OF RECIPES POSTED BY USERS  -->
<div class="row">
	<h4>Sharing is Caring! Check out these awesome recipes users shared.</h4>
	<span class="msg">{{message}}</span>
	<div class="rec_wrap">
		<div class="img_squ" *ngFor="let item of items">	
			<p>{{ item.name}}</p>	
			<button (click)="showOneRecipe(item)" class="hoverable rec_image" target="_blank"><img  class="picture_size_setter" src="imgs/{{item.picture}}" width="300px"></button>
			<p>Add to cookbook: </p>
			<button (click)="Additem(item)" 
			ng-click="addVisible()"
			class="btn-floating btn-small waves-effect waves-light teal">
			<i class="material-icons">add</i>
		</button>
	</div>
</div>
</div>


<!-- END OF LIST OF RECIPES POSTED BY USERS  -->

<div>
	<h4 class="left-align">Find all your favorite recipes!</h4>
	<div>
		<form (submit)="getRecipes()">
			<div class="input-field col s6">
				<input name="dishes"  type="text" class="validate" [(ngModel)]="dishes">
				<label >What would you like to cook?</label>
			</div>
			<input class="waves-effect waves-purple btn" type="submit" value="Find Recipes">
		</form>
	</div>
</div>

<div class="input-field col s6">
	<input type="text" name="search" class="validate" [(ngModel)]="search">
	<label for="ingredients">Search....</label>
</div>

<div class="row">
	<span class="msg">{{message}}</span>
	<div class="rec_wrap">
		<div class="img_squ" *ngFor="let recipe of recipes | filter: search">
			<p>{{ recipe.title }}</p>
			<a 
			class="hoverable rec_image"
			target="_blank" 
			href="http://food2fork.com/view/{{recipe.recipe_id}}"
			[ngStyle]="{
			'background-image': 'url(' + recipe.image_url+')'
		}"
		>
		<img class="size_setter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Transparent_square.svg/2000px-Transparent_square.svg.png" alt="">
	</a>

	<p>Save to cookbook: </p>
	<button (click)="saveRecipe(recipe)" 
	ng-click="addVisible()"
	class="btn-floating btn-small waves-effect waves-light teal">
	<i class="material-icons">add</i>
</button>
</div>
</div>
</div>

